* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
}

#navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 12%;
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-right: 15px;
}

#mapcontainer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 88%;
  flex: 1;
  z-index: 0;
}

#overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: black;
  opacity: 0.7;
}

#popup
{
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) 
{
  #popup {  display: flex;  flex-direction: column;}
}

#sidebar {
  display: none;
  background-color: #e7e7e7;
  width: 33%;
  height: 100%;
  z-index: 3;
  padding: 2% 2% 2% 2%;
  /*border: 2px solid black;*/
  overflow-y: auto;
}

#sidebar2 {
  display: none;
  background-color: #e7e7e7;
  width: 33%;
  height: 100%;
  z-index: 2;
  padding: 2% 2% 2% 2%;
  /*border: 2px solid black;*/
  overflow-y: auto;
  position: fixed;
  right: 0px;
}

@media only screen and (max-width: 600px) 
{
  #sidebar {display: none; background-color: #e7e7e7; width: 100%; height: 100%; z-index: 3; padding: 2% 2% 2% 2%; /*border: 2px solid black;*/ overflow-y: auto;}
}

@media only screen and (max-width: 600px) 
{
  #sidebar2 {display: none; background-color: #e7e7e7; width: 100%; height: 33%; /* position: absolute;*/ /*top: 370px;*/ bottom: 0px; z-index: 2; padding: 2% 2% 2% 2%; /*border: 2px solid black;*/ overflow-y: auto;}
}

#content {
  width: 67%;
  height: 100%;
  z-index: 3;
  display: none;
  /* Bug on feature images with portrait ratios: */
  /* Changing this property modifies the bug */
  /* As "column" we get excess left/right margins */
  /* As "row" we get top/bottom overflow */
  /***************************************/
/*  flex-direction: column; */
  /***************************************/
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) 
{
  #content { width: 100%; height: 67%; z-index: 3; display: none;}
}

#lllogo {
  height: 100%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
}

#lllogo > a > img {
  height: 80%;
  margin-top: 10px;
}

.nbtext {
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  padding: 1% 2% 1% 2%;
}

.nbtext > img {
  margin-left: 0.5em;
  height: 1em;
}

#content img {
  max-width: 100%;
  max-height: 100%;
}

#featureimage {
  cursor: pointer;
}

#close {
  float: right;
  z-index: 5;
  padding: 1% 1% 1% 1%;
  cursor: pointer;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  opacity: 0.5;
}

#closeList {
  float: right;
  z-index: 5;
  padding: 1% 1% 1% 1%;
  cursor: pointer;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  opacity: 0.5;
}

#sitename {
  font-weight: 700;
  text-align: center;
}

#artist {
  font-style: italic;
  text-align: center;
}

#year {
  text-align: center;
}

audio, video {
  width: 100%;
}

.audiolabel, .videolabel {
  font-weight: 700;
}

.audioclip, .videoclip {
  margin-bottom: 4%;
  text-align: center;
}

.videoclip iframe {
    width: 100%;
    height: 100%;
}

/*make title look 'active' (reset map function)*/
#virtualtours
{
  cursor: pointer;
}

/*make studios text look 'active' (list sidebar function)*/
#studios
{
  cursor: pointer;
}

/*make murals text look 'active' (list sidebar function)*/
#murals
{
  cursor: pointer;
}

/* map legend - not used*/
.map-overlay {
  position: absolute;
  bottom: 35px;
  left: 12px;
  background: rgba(255, 255, 255, 0.6);
}

#streetview
{
  text-align: center;
}

#sitenameList {
  font-weight: 700;
  text-align: left;
  cursor: pointer;
  float: left;
  padding-bottom: 10px;
  width: 80%;
}

#sitenameList > img {
  height: 1em;
}

#detailsList
{
  cursor: pointer;
  float: right;
  padding-bottom: 10px;
  width: 20%;
  padding-left: 10px;
}

#detailsPopup
{
  cursor: pointer;
}

#sidebar2 > hr
{
  clear: both;
}
